<% curr_product = '' %>
<table class="index" id='listing_user_group_variants'>
  <% Spree::Variant.order(:product_id).each do |v| %>
    <% if curr_product != v.product_id %>
      <% curr_product = v.product_id %>
      <tr>
        <td colspan="3">
          <h2><%= v.label %></h2>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3" style="background-color: #ebf3fb;">
        <%= variant_options(v) || Spree.t(:master) %> (<%= v.sku %>)
        ::
        Base Price (<%= v.price || Spree.t(:master).downcase %>)
        <span style="float: right;">
          <%=
            button_link_to "New Tier", "javascript:add_new_tier(\"tier-#{v.id}-row\");", {
                class: 'btn-success spree_add_fields'
            }
          %>
        </span>
      </td>
    </tr>
    <% ugv = @user_group.pricing_tiers_for_variant(v) %>
    <% ugv << Spree::UserGroupsVariant.new(variant: v, user_group: @user_group) %>
    <%= render(partial: 'pricing_tier_form', collection: ugv, as: :tier) %>
  <% end %>
</table>

<script>
function add_new_tier(target) {
  var new_tier = $("#" + target + "-hidden").clone();
  new_tier.addClass(target);
  new_tier.prop('id', '');
  new_tier.show();
  
  var last_row = $("." + target + ":last");
  last_row.after(new_tier);
}
</script>
